@import "globals.module";

.about {
  @include faux-subgrid;

  &__heading{
    grid-column: #{$grid-start} / #{$grid-end};
    color: $color-light;

  }
  &__text{
    text-align: justify;
    grid-column: #{$grid-start} / #{$grid-end};

  }
}
