//Mixins
@mixin faux-subgrid {
  grid-column: span 14;
  display: grid;
  grid-template-columns: 1fr repeat(12,minmax(20px,1fr)) 1fr;
  grid-gap: 0.5rem;
}

//Colors
$color-yellow: #FFC66D;
$color-green: #BADC58;
$color-darkest: #0E1014;
$color-dark: #20242D;
$color-light: #96A1B5;
$color-lighter: #D2D7DF;
$color-lightest: #F0F2F4;

//Fonts
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono Regular';
  src: url('/fonts/SFMono-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Misc
:root {

}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr repeat(12,minmax(20px,1fr)) 1fr;
  grid-gap: 0.5rem;
  background-color: $color-darkest;
}

article {
  margin-bottom: 5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Montserrat", monospace;
  font-weight: 500;
  line-height: 1.7;
  color: $color-light;
}

a {
  margin-bottom: 1rem;
  font-family: "Montserrat", monospace;
  font-weight: 500;
  line-height: 1.7;
  color: $color-green;
  text-decoration: none;
  border-bottom: 1px solid $color-green;
}

header {
  margin-bottom: 1rem;
}


//Header styles
.heading__huge {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 900;
}

.heading__xlarge {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.heading__large {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

.heading__medium {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.heading__small {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.heading__tiny {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 900;
}

.text__large {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.text__normal {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}


//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1400px;

//Grid start and end
$grid-start: 4;
$grid-end: 12;