@import "globals.module";

.navigation {
  @include faux-subgrid(28);
  align-items: center;
  height: 75px;

  &__header{
    grid-column: calc(#{$grid-start} - 1) / span 4;
    font-family: "SF Mono Regular", monospace;
    font-weight: 500;
    color: $color-yellow;
  }

  &__item {
    text-align: right;
    grid-column: span 2;
    border-bottom: none;
    &:nth-child(2){
      grid-column: 13 / span 2;
    }
  }

}
