@import "globals.module";

.skills {
  @include faux-subgrid;
  grid-column: 1 / span;
  grid-row: 3;

  &__heading {
    grid-column: #{$grid-start} / #{$grid-end};
    color: $color-light;
  }

  &__container {
    grid-column: span 16;
    height: 100px;
    background-color: $color-dark;
    display: flex;
    justify-content: center;
    @media(min-width: $medium){
      height: 150px;
    }
    svg {
      height: 75%;
      margin: auto 1rem auto 1rem;

    }
  }
}
