---
import Navigation from "../components/Navigation.tsx";
import Footer from "../components/Footer.tsx";
import '../styles/modules/globals.module.scss';
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/favicon.svg" sizes="any" />
    <title></title>
  </head>
  <body>
  <Navigation/>
  <slot></slot>
  <Footer/>
  </body>
</html>